.main-bar
  .main-bar__header
    .main-bar__header__left
      .main-bar__header__left__test
        = @group.name
        .main-bar__header__left__test__masa
          Member
          - @group.users.each do |user|
            = user.name   
    .main-bar__header__right  
      =link_to edit_group_path(@group), class: "main-header__right__edit-btn" do
        Edit       
  .main-bar__center
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .new_message
        .main-bar__under
          = f.text_field :content, class: 'main-bar__under__text', placeholder: 'type a message'
          = f.label :image, class: 'main-bar__under__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit-btn'