.side-bar
  .side-bar__header
    .side-bar__header__name
      = current_user.name
      .side-bar__header__name__user
      .side-bar__header__name__icon
        = link_to new_group_path do
          = icon("fas", "edit", class: 'pencil')
        = link_to edit_user_path(current_user) do
          = icon("fas", "cog", class: 'gear')
  .side-bar__box
    .side-bar__box__class
      .side-bar__box__class__group
        techcamp
      .side-bar__box__class__message
        まだメッセージがありません

    .side-bar__box__class
      .side-bar__box__class__group
        techcamp2
      .side-bar__box__class__message
        まだメッセージがありません1234

    .side-bar__box__class
      .side-bar__box__class__group
        techcamp3
      .side-bar__box__class__message
        まだメッセージがありません1234567
      




